<mat-form-field appearance="outline">
    <mat-label>Encontre um personagem</mat-label>
    <input matInput type="number" [(ngModel)]="idToLoad" (input)="onIdChange()" />
</mat-form-field>
<div *ngIf="idToLoad > 0; else zero">
    <!-- Para utilizar observables no template, precisamos usar o pipe async.
        Visto que o observable pode não ter ainda notificado seu resultado,
        a ? garante que só em caso de não-nulo serão pedidas as propriedades.
    -->
    <div *ngIf="person | async as p; else nenhum" class="container">
        <mat-card>
            <mat-card-header>Dados pessoais</mat-card-header>
            <mat-card-content>
                <ul>
                    <li>{{ p.name }}</li>
                    <li>{{ p.height }}cm</li>
                    <li>{{ p.mass }}kg</li>
                    <li>{{ p.hair_color }}</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>Filmes</mat-card-header>
            <mat-card-content *ngIf="(films$ | async) as films">
                <ul>
                    <li *ngFor="let filme of films">{{filme.title}}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-template #nenhum><mat-spinner></mat-spinner>
    </ng-template>
</div>
<ng-template #zero>
    <div>Nenhum personagem a exibir.</div>
</ng-template>
<hr />
<h2>Todos os personagens:</h2>

<div class="container-inputs">
    <mat-form-field appearance="outline">
        <mat-label>Paginação (10 em 10)</mat-label>
        <input matInput type="number" [(ngModel)]="pageToLoad" (input)="onPageChange()">
        <mat-hint>Número da página</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Filtre por nome: </mat-label>
        <input matInput type="text" [(ngModel)]="filtro" (input)="filtre()">
        <mat-hint>Digite as primeiras letras de um nome</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onLoadPeople()">Atualizar</button>
</div>

<div class="container">
    <!-- Mais uma vez o pipe async para subscrever no observable.
        Detalhe: depois disso não precisamos usar a ? como anteriormente pois
        o objeto da iteração já não é um async, ele recebe os dados finais para uso.
    -->
    <mat-card *ngFor="let each of people | async">
        <mat-card-header>
            {{ each.name }}
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="ver(each.url)">Ver dados completos</button>
        </mat-card-actions>
    </mat-card>
</div>