div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.container-inputs {
    display: flex;
    flex-direction: row;
}

div.card {
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    width: 20%;
    text-align: center;
}

div.pcard {
    background-color: #8BC34A;
    border-radius: 25px;
    margin: 10px;
    padding: 5px;
    width: 20%;
    text-align: left;
}