
button {
    background-color: pink;
    color: white;
    font-size: 2em;
    width: 30%;
    margin: 2px; 
}
input {
    background-color: white;
    color: pink;
    font-size: 2em;
    margin: 2px;
}
.fundo {
    background-color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.tela {
    display: flex;
    justify-content: center;
}
.botoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.botao{
    width: 30%;
}