<div class="fundo">
  <div class="tela">
    <div>
      <input type="text" [value]="tela" readonly>
    </div>
  </div>
  <div>
    <div class="botoes">
      <div class="botao" *ngFor="let num of simbolos">
        <app-botao [texto]="num" (apertou)="digitou($event)"></app-botao>
      </div>
      <div class="botao">
        <app-botao [texto]="'='" (apertou)="result()"></app-botao>
      </div>
      <div class="botao">
        <app-botao [texto]="'CE'" (apertou)="limptela()"></app-botao>
      </div>
    </div>
  </div>
</div>